#list, #table, #form{
	background-color: #98fb98; 
	padding: 0 10px 10px 10px;
}

nav {
	background-color:#98fb98;
	padding: 10px;
}
footer, header {
	height: 120px;
	background-color: #98fb98;
}
footer{
    text-align: center;
}
body {
	background: #98fb98;
}

#logo {
	border-radius: 50%;
	float:left;
	height: 90%;
}

#name {
	font-size: 30pt;
}

.nechet {
	background: #98fb98;
}

table {
	border: 1px solid black;
    border-collapse: collapse;
    background: green;
}

tr {
	border: 1px solid black;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    border-collapse: collapse;
}

nav ul {
	list-style-type: none;
}

li a img {
	height: 60%;
	width: 60%;
}

@media screen and (min-width: 768px) {
	li a img {
		height: 35%;
		width: 35%;
	}
}

